<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
  <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom/custom.css">
</head>
<body>
  <span class="component" component="nav"></span>

  <div class="container">
    <h1><i class="fa fa-rss fa-fw"></i> Posts</h1>
    <span class="holder" model="post"></span>
  </div>
  <div class="container-fluid">
    <span class="component" component="footer"></span>
  </div>

  <script type="text/javascript" src="/public/js/lib/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/tether.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/axios.min.js"></script>
  <script type="text/javascript" src="/public/js/components/components.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      const user = localStorage.getItem('userId');
      function __posts_all() {
        if(!window.componentsLoaded) return;
        let id = window.params.id;
        console.log(id);
        $('span.holder[model="post"]').html('');
        axios.get('http://localhost:3000/api/group/'+ id +'/posts').then(res => {
          console.log("res", res);
          if(res.data.count) for(let i = 0; i < res.data.count; i++) {
            let component = new Component();
            $('span.holder[model="post"]').append(component.post(res.data.posts[i], true));
          } else {
            let component = new Component();
            $('span.holder[model="post"]').append(component.not_exist("Posts"));
          }
        }).catch(err => {
          console.log("err", err);
        });
      }
      __posts_all();

      
    });
  </script>
</body>
</html>
