<!DOCTYPE html>
<html>
<head>
  <title>All Groups</title>
  <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom/custom.css">
</head>
<body>
  <span class="component" component="nav"></span>

  <div class="container">
    <h1><i class="fa fa-rss fa-fw"></i> Groups</h1>
    <span class="holder" model="group"></span>
  </div>
  <div class="container-fluid">
    <span class="component" component="footer"></span>
  </div>

  <script type="text/javascript" src="/public/js/lib/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/tether.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/axios.min.js"></script>
  <script type="text/javascript" src="/public/js/components/components.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      const user = localStorage.getItem('userId');

      function __groups_all() {
        if(!window.componentsLoaded) return;
        let id = window.params.id;
        $('span.holder[model="group"]').html('');
        axios.get('http://localhost:3000/api/group/all').then(res => {
          console.log("res", res);
          if(res.data.count) for(let i = 0; i < res.data.count; i++) {
            let component = new Component();
            $('span.holder[model="group"]').append(component.group(res.data.groups[i], res.data.groups[i]));
          } else {
            let component = new Component();
            $('span.holder[model="group"]').append(component.not_exist("Groups"));
          }
        }).catch(err => {
          console.log("err", err);
        });
      }

      __groups_all();


      let axiosInterval = setInterval(function () {
        __posts_all();
      }, 2000000000);


      $('body').delegate('form#JoinGroupForm', 'submit', function(event) {
        event.preventDefault();
        let __id = $(this).children('input').val();
        console.log(__id);
        axios.patch('http://localhost:3000/api/group/addUser', {
          group: __id,
          user: user
        })
        .then(res => {
          if(res['success']) {
            console.log('res' , res.data);
            alert("You've joined this group!");
          }
        })
        .catch(err => {
          console.log('err' , err);
        });
      });
    });
  </script>
</body>
</html>
