<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom/custom.css">
</head>
<body>
  <span class="component" component="nav"></span>

  <div class="container">
    <h1><i class="fa fa-users fa-fw"></i> Users</h1>
    <span class="holder" model="user"></span>
  </div>
  <div class="container-fluid">
    <span class="component" component="footer"></span>
  </div>

  <script type="text/javascript" src="/public/js/lib/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/tether.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/axios.min.js"></script>
  <script type="text/javascript" src="/public/js/components/components.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      function __users_all() {
        if(!window.componentsLoaded) return;
        let id = window.params.id;
        $('span.holder[model="user"]').html('');
        axios.get('http://localhost:3000/api/user/mostFollowed').then(res => {
          console.log("res", res);
          console.log(res.data.users.length);
          if(res.data.mostFollowed) {
            // console.log("Yes");
            let mostLikedComponent = new Component();
            $('span.holder[model="user"]').append(mostLikedComponent.mostFollowed(res.data.mostFollowed, true));
            for(let i = 0; i < res.data.users.length; i++) {
              let component = new Component();
              $('span.holder[model="user"]').append(component.mostFollowed(res.data.users[i], true));
            }
          } else {
            let component = new Component();
            $('span.holder[model="user"]').append(component.not_exist("Users"));
          }
        }).catch(err => {
          console.log("err", err);
        });
      }
      __users_all();
      let axiosInterval = setInterval(function () {
        __users_all();
      }, 20000000);


      $('body').delegate('form#AddUserForm', 'submit', function(event) {
        event.preventDefault();
        let user = localStorage.getItem('userId');
        let __id = $(this).children('input').val();

        console.log(user);
        console.log(__id);
        axios.post('http://localhost:3000/api/user/addFollower', {
          user: user,
          following: __id
        })
        .then(res => {
          if(res['success']) {
            console.log('res' , res.data);
            console.log("You followed This user");
          }
        })
        .catch(err => {
          console.log('err' , err);
        });
      });

    });
  </script>
</body>
</html>
