<!DOCTYPE html>
<html>
<head>
  <title>Create Post</title>
  <link rel="stylesheet" type="text/css" href="/public/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/custom/custom.css">
</head>
<body>
  <span class="component" component="nav"></span>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-plus fa-fw"> </i>
            Create Post
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <form>
                  <div class="form-group">
                    <textarea style="resize: none;" rows="5" class="form-control" name="body" id="body" required autofocus placeholder="Write Post ..."></textarea>
                    <small class="text-danger" data="body"></small>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success float-right" id="create" type="submit">
                      <i class="fa fa-plus fa-fw"> </i>
                      Create
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <span class="component" component="footer"></span>
  </div>

  <script type="text/javascript" src="/public/js/lib/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/tether.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/js/lib/axios.min.js"></script>
  <script type="text/javascript" src="/public/js/components/components.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('form').submit(function(event) {
        event.preventDefault();
        $('small').html("").parent('div.form-group').removeClass('has-danger');
        let
          body                  = $('textarea#body').val(),
          user                  = localStorage.getItem('userId');
          console.log(user);
        axios.post('http://localhost:3000/api/post/create', {
          body: body,
          user: user
        })
        .then(res => {
          console.log("res", res);
          if(res.data['success']) {
            $('form')[0].reset();
            alert("Created");
          } else {
            $('small[data=email]')
              .html(res.data['error'])
              .parent('div.form-group').addClass('has-danger');
          }
        }).catch(err => {
          console.log("err", err);
        });
      });
    });
  </script>
</body>
</html>
